# Environment variables
.env
**/.env
.env.*
!.env.example
!**/.env.example

# Python cache & compiled files
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Virtual environments
venv/
env/
.venv/

# OS and Runner files
.DS_Store
Thumbs.db
powershell.cmd
**/powershell.cmd